
/* This is the general grid styling */

.container{
    width: 1224px;
    height: 472px;
    box-sizing: border-box;
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    display: grid;
    grid-template-columns: 2fr 3fr repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
}

/* This is the grid item styling */

.grid-item{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 2em;
    /* border-bottom: 2px solid black;
    border-right: 2px solid black; */
}

/* This is additional grid items styling, if the item needs it */

.first-grid{
    grid-row: span 2;
}
.second-grid{
    grid-row: span 2;
}
.third-grid{
    grid-column: span 5;
}
.grid-four{
    grid-column: span 2;
}
.grid-five{
    grid-column: span 2;
}
.item-left{
    justify-items: start;
    padding-left: 20px;
}

